.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#middle {
  position: absolute;
  top: 1.8rem;
  width: 200%;
}

#top-left {
  position: absolute;
  top: -8%;
  left: -14%;
  width: 60%;
  transform: rotate(90deg);
}

#top-right {
  position: absolute;
  top: -4%;
  right: -4%;
  width: 30%;
  transform: rotate(90deg);
}

#bottom-right-leaves {
  position: absolute;
  width: 80%;
  bottom: 0;
  right: 0;
  opacity: 0.7;
}
#bottom-left-leaves {
  position: absolute;
  width: 50%;
  bottom: 0;
  left: -10%;
  opacity: 0.7;
  transform: rotate(90deg);
}

#greenleave {
  position: absolute;
  width: 50%;
  left: -20%;
  top: 27%;
  transform: rotate(20deg);
}
